.navbar-brand img {
    height: 80px;
}
.logo img{
    height: 80px;
}
.nav-link {
    color: black;

}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.mar-b {
    margin-bottom: 5em;
}

.mar-y {
    margin-top: 10em;
    margin-bottom: 6em;
}

.subtitlu {
    font-style: italic;
    text-align: center;
    color: rgb(236, 146, 67);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    font-weight: bold;


}

.minititlu {
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
    font-size: 10px;

}

.minititlu h3 {
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
    font-size: 20px;
}


.row {
    margin-top: 100px;

}

.continut {

    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    margin-left: 2em;
    
}
.continut h4{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 25px;
    text-align: justify;
    font-weight: bold;
    text-align: center;
    color:rgb(236, 146, 67);
    letter-spacing:3px;
}
.continut1 h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    text-align: justify;
    font-weight: bold;
    text-align: center;
    color:rgb(236, 146, 67);
}

.continut1 p{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    margin-left:0;
}

.carousel-item .ratio img {
    object-fit: cover;
    width: 500px;
}

.titlu-carusel {
    background-color: white;
    opacity: 0.8;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;

}
.titlu-carusel p{
    background-color: white;
    opacity: 0.8;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: calc(1.375rem + 1.5vw);
}

.title {
    margin: 0 60px 50px 40px;

    background-color: white;
    opacity: 0.7;
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
}

.corect img {

    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 4em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
}

.carousel-item .ratio img {
    object-fit: cover;
}


.text {
    color: white;
}
.responsive img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50% 20% / 10% 40%;
    object-fit:cover;
    margin-bottom:2em;
  }
  .responsive p{
    margin-bottom: 5em;

  }
  .card img{
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height:400px;
    object-fit:cover;
  }
  .card-body h3{
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
    font-size: 20px;
  }
  ul li{
    list-style:none;
    text-align:center;
    font-family: 'Mulish', sans-serif;
    margin-bottom:2em;
  }
  ol li{
    list-style:none;
    text-align:center;
    font-family: 'Mulish', sans-serif;
  }
  .harta{
    text-align:center;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #1650cc;
    color: white;
  }
  
  .fa-twitter {
    background: #37a3f5;
    color: white;
  }
  .fa-instagram {
    background: #f11f10;
    color: white;
  }
  
  